/* hiding the MyFonts preview bar... */
#mfPreviewBar,
#mfPreviewBarShow
{
	display: none;
}
.font-upper
{
	text-transform: uppercase;
}

/* Mobile first queries */
body,
html
{
	min-height: 100%;
	min-width: 100%;
	font-family: 'Proxima Nova Regular';
	font-size: 17px;
	line-height: 18.5px;
}
body
{
	background: #fff url(../imgs/test_background.jpg) no-repeat left top;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Proxima Nova Medium';
	letter-spacing: 3px;
}
img
{
	max-width: 100%;
}
ul
{
	list-style-position: outside;
	padding-left: 18px;
	list-style: none;
	margin-bottom: 36px;
}
ul > li
{
	text-indent: -18px;
	padding-left: 18px;
	margin-top: 15px;
	margin-bottom: 0;
}
ul > li:before
{
	content: ">";
	padding-right: 6px;
}
ul > li > span
{
	font-family: 'Proxima Nova Medium';
	font-weight: 700; /* becuase MyFonts did not provide Bold */
}
ul > li > ul
{
	margin-top: 0;
	margin-left: 0;
}
ul > li > ul > li
{
	text-indent: -13px;
	padding-left: 13px;
	font-family: 'Proxima Nova Light';
	margin-top: 15px;
	margin-bottom: 0;
}
header.container
{
	padding: 27px 12px 60px;
}
section.container
{
	padding: 27px 48px;
	margin-bottom: 9px;
	background-color: rgba(48, 175, 226, 0.87);
	color: #fff;
}
#event-title h3,
#event-title h2
{
	font-family: 'Proxima Nova Regular';
}
#event-title h3
{
	font-size: 15.75px;
	line-height: 22px;
	margin-bottom: 27px;
}
#event-title h1
{
	font-size: 22px;
	line-height: 21px;
	font-weight: 700; /* becuase MyFonts did not provide Bold */
	margin-bottom: 24px;
}
#event-title h2
{
	font-size: 21.75px;
	line-height: 22px;
	letter-spacing: 1px;
}
#event-details p
{
	margin-bottom: 18px;
}
#event-details p > strong
{
	font-family: 'Proxima Nova Medium';
	font-weight: 700; /* becuase MyFonts did not provide Bold */
}
#event-details form
{
	margin-top: 36px;
}
form > h5
{
	font-family: 'Proxima Nova Regular';
	font-size: 17px;
	line-height: 18.5px;
	margin-bottom: 30px;
}
form > input[type="text"],
form > input[type="email"],
form > input[type="tel"]
{
	height: 30px;
	padding: 6px 9px 9px;
	border-color: #959390;
	border-radius: 0;
	margin-bottom: 21px;
	color: #000;
}
form > input.has-error,
form > input.has-error:focus
{
	border-color: red;
}
form > button[type="submit"]
{
	background-color: #00b3e4;
	font-size: 18px;
	line-height: 25.38px;
	color: #fff;
	padding: 0 12px 9px;
	height: 30px;
	border: none;
	border-radius: 0;
}
form > button[type="submit"] > img
{
	max-height: 100%;
	margin-left: 12px;
	margin-bottom: -3px;
}
form > button[type="submit"]:disabled
{
	background-color: #eee;
	opacity: 0.5;
}
form > #errors
{
	padding: 0;
}
form > #errors > li
{
	margin-top: 9px;
}
footer.container
{
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.45px;
	padding: 27px 30px 66px;
	color: #fff;
	text-align: center;
}
footer p
{
	margin-bottom: 24px;
}
footer img
{
	max-width: 100%;
}

/* Larger than mobile */
@media (min-width: 400px) 
{

}

/* Larger than phablet */
@media (min-width: 550px) 
{
	#event-details form
	{
		margin-top: 0;
	}
	footer p
	{
		margin-bottom: 0;
		margin-top: 18px;
		text-align: left;
	}
	footer img
	{
		float: right;
	}
}

/* Larger than tablet */
@media (min-width: 750px) 
{

}

/* Larger than desktop */
@media (min-width: 1000px) 
{
	footer p
	{
		margin-top: 24px;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) 
{

}